body {
    background-color: #181818;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

.container {
    margin: 1em auto;
    background-color: #202020;
    border-radius: 1em;
    padding: 0.75em;
    width: 35em;
}

.tableWrapper {
    max-height: 10em;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #303030;
}

th,
td {
    padding: 0.3em;
    text-align: left;
}

.text-col {
    padding-left: 1em;
    width: 55%;
}

.num-col {
    width: 25%;
}

.actions {
    width: 20%;
}

tbody tr:hover {
    background-color: #3a3a3a;
}

.editing .text-col input,
.editing .num-col input {
    background-color: #202020;
    color: #FFFFFF;
    border: 1px solid #FF0000;
}

tbody tr:nth-child(odd) {
    background-color: #282828;
}

tbody tr:nth-child(even) {
    background-color: #242424;
}

tbody tr.editing {
    background-color: #383838;
    font-size: 1.2em;
}

.actions {
    display: flex;
    gap: 0.2em;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}

button {
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    color: #ee0000;
}

#addButton {
    margin-top: 1em;
    padding: 0.3em 0.5em;
    background-color: #ff0000;
    color: #FFFFFF;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

#addButton:hover {
    background-color: #dd0000;
}

#addButton:disabled {
    background-color: #cccccc;
    color: #efefef;
    cursor: default;
}


.searchContainer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
}

.searchInput {
    flex-grow: 100;
    padding: 1em 2em;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    background-position: 95% center;
    border-radius: 3em;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.searchInput::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.searchInput:hover,
.searchInput:focus {
    padding: 1em 1.5em;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}
